*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: rgb(14, 13, 13);
}
.calcWrapper{
    padding-top: 8vh;
    margin-left: calc(50% - 161px);
}
.calc{
    width: 322px;
    padding: 3px;
    padding-top: 5px;
    color: white;
    background: rgb(32, 31, 31);
}

.calc ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 3px;
    background: rgb(32, 31, 31);
     -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
}
.calc li{
    flex: 1 1 24%;
    margin: 1px;
    background: rgb(12, 12, 12);
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 20px;
    height: 60px;
    font-size: 17.5px;
    cursor: default;
}
.calc li:hover{
    background: rgb(75, 75, 75);
}
.calc .outputArea{
    align-items: flex-end;
    text-align: right;
    margin-right: 3px;
}
#output{
    font-size: 50px;
    height: 90px;
    padding-top: 15px;
}
.calc span{
    font-size: 22px;
    margin-left: 3px;
}
.outer-div {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:right;
    overflow:hidden;
    white-space: nowrap;
}
#history{
    padding: 8px;
    font-weight: normal;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    float:right;
}
.calc .number{
    padding-top: 17px;
    font-weight: bold;
    font-size: 23px;
    background: black;
}
.calc .operator{
    padding-top: 13px;
    font-size: 29px;
}
.calc #root{
    font-size: 100;
}