    <nav class="navbar">
        <div class="logo">
            <h4>Killian Debacker</h4>
        </div>
        <ul class="navlinks">
            <li><a href="#ye" class="scroll">Home</a></li>
            <li><a href= "#heading" class="scroll">Projects</a></li>
            <li><a href="#about" class="scroll">Skills</a></li>
            <li><a href= "images/Killian Debacker Resume.docx" download="Killian Debacker Resume" target="_blank">Resume</a></li>
            <div class="download">
                <a href="images/Killian Debacker Resume.docx" target="_blank"> <img src="../images/button.png" alt=""></a>
            </div>
        </ul>
        <div class = "navdropdown">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <script src="nav.js"></script>
    </nav>